#background-img {
  height: 1500px;
  background-image: url("thanos2.jpg");
  background-position: center;
  background-size: cover;
}

#detail-1 {
  width: 900px;
  color: black;
  /* background-color: rgba(254, 229, 252, 0.8);
      box-shadow: 2px 4px 8px rgb(68, 67, 67); */
  border-radius: 8px;
  text-align: right;
  padding: 5px 0;
  margin: 0 auto;
  position: relative;
  top: 100px;
  left: 750px;
}

#detail-1 h2 {
    font-size: 50px;
    font-weight: bold;
}

#detail-1 h1 {
    font-size: 100px;
    font-weight: bolder;
}

#detail-1 p {
    font-size: 40px;
    font-weight: normal;
}

#detail-1 h3 {
    font-size: 50px;
    font-weight: bolder;
}